@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Inter', sans-serif;
}

.bg-home {
    background-image: url("./assets/image54.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav a:hover {
    color: #FF8C38;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: all .15s;
}